body{

margin:0;
font-family:Arial;
background:#f0f2f5;

}

.topbar{

background:#1877f2;
color:white;
padding:12px;
display:flex;
align-items:center;

}

.logo{

font-size:20px;
font-weight:bold;
margin-right:20px;

}

.search{

padding:6px;
border:none;
border-radius:4px;

}

.layout{

display:grid;
grid-template-columns: 220px 1fr 220px;

}

.left{

padding:15px;

}

.left ul{

list-style:none;
padding:0;

}

.left li{

padding:8px 0;

}

.feed{

padding:20px;
max-width:700px;
margin:auto;

}

.post{

background:white;
padding:15px;
margin-bottom:20px;
border-radius:8px;

}

.post img{

width:100%;
border-radius:6px;

}

.buttons{

margin-top:10px;

}

button{

padding:6px 10px;
margin-right:8px;
border:none;
background:#eee;
cursor:pointer;

}

.commentBox{

display:none;
margin-top:10px;

}

.comments div{

margin-top:5px;

}

.right{

padding:15px;

}